.add {
  background-image: url(../../public/images/sanitizer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
  background-position: center;
  width: 80%;
  .add__details {
    padding-left: 7% !important;
    padding: 6% 0%;
    width: 60%;
  }
}
