header {
  z-index: 8 !important;
}
.d-flex {
  display: flex !important;
  align-items: center;
}

.cnt__icon {
  margin-right: 8px;
  font-size: 14px !important;
}
.log__icon {
  font-size: 22px !important;
  padding: 1px !important;
  color: black;
  transition: 1000ms all;
}

.log__icon:hover {
  cursor: pointer;
}

svg {
  vertical-align: middle;
  width: auto;
}
.social__icons {
  padding-top: 18px !important;
}
.cart__lnt {
  margin-left: 3px;
  font-weight: 600;
  margin-top: -15px !important;
  margin-left: -8px !important;
  background-color: black;
  color: white;
  width: 20px;

  height: 20px;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
}

.navbar {
  background-image: url('../../../public/images/bg.jpg');
  padding: 0px !important;
}
.navbar.active {
  position: fixed;
  top: 0;
  z-index: 1111;
  width: 100%;
  box-shadow: 0px 0px 10px 2px;
  background-color: white !important;
}

.nav__logo {
  width: 150px !important;
  img {
    width: 100px;
    margin-top: -12px;
    margin-left: 15px;
  }
}
.drop__container {
  position: relative !important;
  padding: 2px;
}
.drop__content {
  position: absolute !important;
  top: 30px;
  right: -97%;
  box-shadow: -5px 9px 5px -5px #0000007d;
  display: none;
  padding-top: 14px;

  width: 180px;

  border-radius: 5px;
  z-index: 1000;
  background-color: #f0f9ff;
}
.drop__container:hover .drop__content {
  display: block;
}

.drop__content a {
  color: black !important;
  font-size: 16px;
}
.drop__content a:hover {
  font-weight: 600;
}
.dp {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 0px;
}
.nav__list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  margin: 0;
}
.nav__list li:hover {
  background-color: rgb(5, 224, 244);
  cursor: pointer;
}
.nav__list li {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  line-height: 16px;
  border-bottom: 2px solid #d5cbcbcc;
}

.profile {
  border-bottom: 1px solid gray;
}
.outlet_btn {
  border-radius: 20px !important;
}
.offcanvas-header {
  padding: 0rem 0rem !important;
}
.offcanvas-header {
  width: 100% !important;
  border-bottom: 2px solid;
}
.offcanvas-title {
  margin: auto !important;
  width: 90% !important;

  padding: 10px 0px;
  .mini__btn {
    input {
      width: 40%;
      font-size: 16px;
      margin: 15px;
      background-color: blueviolet;
      color: white;
      border-radius: 5px;
      transition: 400ms all;
      box-shadow: 0px 5px 5px -3px black;
    }
    input:hover {
      background-color: rgb(94, 12, 171);
      transform: scale(1.03);
    }
  }
}
.sign__out {
  color: black !important;
}
.sign__out:hover {
  font-weight: 500;
}
.sidebar {
  z-index: 111111111111111 !important;
}

// Mini Card__________
.mini__cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px;
  margin: 10px 0px;
  border-radius: 10px;
  .rating {
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .minicart__info {
    display: flex;
    align-items: center;
    .cart__name {
      line-height: 10px;
      h6 {
        width: 110px;
      }
    }
    p {
      width: 100px;
    }
    display: flex;
    img {
      width: 110px;
    }
  }
}

.canvas {
  margin-top: 1px solid black;
  height: 80% !important;
  background-color: rgb(255, 254, 254);
}
.total {
  display: flex;
  justify-content: space-between;
}
